<!DOCTYPE html>
<html lang="en" ng-app="mapApp">
<head>
    <meta charset="UTF-8">
    <title>Map Example</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="controllers.js"></script>
    <script src="bower_components/angular-yandex-map/ya-map-2.1.min.js"></script>
    <script src="bower_components/angular-ymaps/angular-ymaps.js"></script>

</head>

<body ng-controller="MapCtrl">
<div class="row">
    <div class="col-md-6">
        <b>Map Example</b>
        <input type="text" ng-model="test.name" ng-disabled="textDisabled()">
        {{test.name}}
        <input type="button" ng-click="clean()">

        <p>Nothing here {{'yet' + '!'}}</p>
    </div>
</div>
<div class="row">
    <div style=" height:500px;">
        <ya-map ya-zoom="8"><ya-geo-object ya-source="geoObject"></ya-geo-object></ya-map>
    </div>
    <div ng-init="coords=[55.21, 34.30];center=[55.21, 34.30];zoom=10">
        <yandex-map center="center" zoom="zoom">
            <ymap-marker coordinates="coords"></ymap-marker>
        </yandex-map>
    </div>
</div>
<button ng-click="del()">Удалить</button>
</body>
</html>


